In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.arange(0, 10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
arr = np.full((3,3), True, dtype=bool)
np.ones((3,3), dtype=bool)
arr

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [8]:
arr = np.array(range(0, 10))
arr
arr[arr % 2 != 0]

array([1, 3, 5, 7, 9])

In [12]:
arr = np.arange(0, 10)
arr
arr[arr % 2  != 0] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [15]:
arr = np.arange(0, 10)
arrcopy = arr.copy()
arrcopy[arrcopy % 2 != 0] = -1
print(arr, arrcopy)

[0 1 2 3 4 5 6 7 8 9] [ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [16]:
arr = np.arange(10)
out = np.where(arr % 2 != 0, -1, arr)
print(arr, out)

[0 1 2 3 4 5 6 7 8 9] [ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [18]:
arr = np.arange(10)
arr.reshape(2, -1)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [21]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# pd.Series(mydict)

In [28]:
s = pd.Series(np.random.randint(1, 10, 35))
sarr = np.array(s).reshape(7,5)
sarrdf = pd.DataFrame(sarr)
sarrdf

   0  1  2  3  4
0  8  4  9  3  6
1  1  5  4  8  4
2  1  7  3  7  9
3  6  6  5  1  6
4  8  2  1  7  2
5  3  6  5  4  6
6  3  5  8  9  9